# --- Project Specifics ---
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar

# --- API Safety (CRITICAL) ---
.env
application-local.properties


# --- STS / Eclipse ---
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
*.code-workspace

### OS Files ###
.DS_Store
Thumbs.db
